<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="remotingServices" type="OperatingManagement.RemotingServer.Configuration.RemotingServerSection, OperatingManagement.RemotingServer"/>
  </configSections>

  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="Data Source=htc;User Id=htcuser;Password=htcuser;"/>
  </connectionStrings>
  
  <remotingServices isAuto="true" port="8085">
    <services>
      <add objectUri="account" type="OperatingManagement.RemotingObjectEntity.Account, OperatingManagement.RemotingObjectEntity" mode="Singleton"/>
    </services>
  </remotingServices>
</configuration>
