<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="remotingServices" type="OperatingManagement.RemotingServer.Configuration.RemotingServerSection, OM.RemotingServer"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching"/>
   </configSections>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=orcl;User Id=htcuser;Password=htcuser;"/>
  </connectionStrings>

  <cachingConfiguration defaultCacheManager="AspNetCache">
    <cacheManagers>
      <add name="AspNetCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="120" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"/>
    </cacheManagers>
    <backingStores>
      <add name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
  </cachingConfiguration>
  
  <remotingServices isAuto="true" port="2005">
    <services>
      <add objectUri="account" type="OperatingManagement.RemotingObjectEntity.Account, OM.RemotingObjectEntity" mode="Singleton"/>
    </services>
  </remotingServices>
  <appSettings>
    <!-- 测试1，正常0-->
    <add key="ForTest" value="1"/>
  </appSettings>
</configuration>
