<?xml version="1.0" encoding="utf-8"?>

<privacy>
  <!--
  -->
  <core
    encryptSalt="MSFTJOM@web#"
    encryptType="SHA1"
    encryptKey="yghj234bash3rtoi"
    cookiePrefix="O__M__Cookie_"
    virtualPath="~/"
    settingPattern="~/App_Data/{0}.xml"
    wfPersistenceFile="d:\\workflow\\persistenceFiles\\"
    wfTrackingFile="d:\\workflow\\trackingFiles\\"
    />
</privacy>