<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="remotingObjects" type="OperatingManagement.RemotingClient.Configuration.RemotingClientSection, OperatingManagement.RemotingClient"/>
  </configSections>
  <remotingObjects>
    <objects>
      <add type="OperatingManagement.RemotingObjectInterface.IAccount" url="tcp://localhost:8085/account"/>
    </objects>
  </remotingObjects>

  <appSettings>
    <add key="encryptKey" value="yghj234bash3rtoi"/>
  </appSettings>
  
  <system.web>

  </system.web>

  <system.webServer>
  </system.webServer>
</configuration>
