<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching"/>
  </configSections>
    <appSettings>
        <add key="FileNameMode" value=""/>
        <add key="savepath" value="d:\files\"/>
    </appSettings>
  <cachingConfiguration defaultCacheManager="AspNetCache">
    <cacheManagers>
      <add name="AspNetCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="120" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"/>
    </cacheManagers>
    <backingStores>
      <add name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
  </cachingConfiguration>
  
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=htc;User Id=htcuser;Password=htcuser;"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <anonymousIdentification enabled="false"/>
    <profile defaultProvider="AspNetProfileProvider" automaticSaveEnabled="false" enabled="true">
      <providers>
        <clear/>
        <add name="AspNetProfileProvider" type="OperatingManagement.Security.AspNetProfileProvider,OperatingManagement.Security"/>
      </providers>
      <properties>
        <add name="Account" type="OperatingManagement.DataAccessLayer.System.User,OperatingManagement.DataAccessLayer" provider="AspNetProfileProvider" allowAnonymous="false" serializeAs="Binary"/>
      </properties>
    </profile>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/views/exp/pnf404.aspx"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/account/login.aspx"
             defaultUrl="~/index.aspx"
             protection="All"
             slidingExpiration="false"
             cookieless="UseCookies"
             timeout="2880"/>
    </authentication>
    <authorization>
      <!--<allow users="*"/>-->
      <deny users="?"/>
    </authorization>
    <pages theme="Default">
      <controls>
        <add tagPrefix="om" namespace="OperatingManagement.WebKernel.Controls" assembly="OperatingManagement.WebKernel"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="data.axd" verb="*" type="OperatingManagement.WebKernel.HttpHandlers.DataHandler, OperatingManagement.WebKernel" validate="false"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <location path="app_themes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="views/exp">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="account">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
