<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="remotingObjects" type="OperatingManagement.RemotingClient.Configuration.RemotingClientSection, OM.RemotingClient"/>
  </configSections>
  <remotingObjects>
    <objects>
      <add type="Test1" url="tcp://localhost:5000/Test1"/>
      <add type="Test2" url="tcp://{IP}:5000/Test2"/>
    </objects>
  </remotingObjects>
</configuration>
