<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="remotingServices" type="OperatingManagement.RemotingServer.Configuration.RemotingServerSection, OM.RemotingServer"/>
  </configSections>
  <remotingServices isAuto="true" port="8085">
    <services>
      <add objectUri="Test1" type="RemotingServerTest.Test1, RemotingServerTest" mode="Singleton"/>
      <add objectUri="Test2" type="RemotingServerTest.Test2, RemotingServerTest" mode="SingleCall"/>
    </services>
  </remotingServices>
</configuration>
