<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceProxy" type="OperatingManagement.Service.ServiceSection, OperatingManagement.Service" />
  </configSections>

  <!-- Console or Windows-->
  <serviceProxy runMode="Console">
    <setting serviceName="OperatingManagementSyncService"
             displayName="OperatingManagement Synchronization Service"
             description="This service provides synchronization between Portal and Service for users' token."
             sleepTime="60000"
             tick="3000"
             threadCount="2"
             maxRetryCount="3"/>
  </serviceProxy>
  <appSettings>
    
  </appSettings>
</configuration>