<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching"/>
	</configSections>
	<appSettings>
    <!-- 中心内部归文件档存储路径-->
    <add key="savepath" value="d:\files\save\" />
    <!-- 中心内部归文件档存储路径-->
    <add key="tempjhsavepath" value="d:\files\tempsave\" />
    <!-- Word导出文档存储路径-->
    <add key="WordPath" value="d:\files\download\" />
    <!-- 进出站及航捷数据统计文件档存储路径-->
    <add key="StationInOutFilePath" value="d:\files\StationInOut\" />        
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <!-- 文件服务器地址-->
    <add key="FileServerPath" value="tcp://192.168.1.20:2004/filesender"/>
    <!-- 数据包服务器地址-->
    <add key="DFServerPath" value="tcp://localhost:3000/DFSender"/>
    <!-- 仿真推演的卫星编码-->
    <add key="TYSJSatID" value="AAAA"/>
    <!-- 当前任务的TaskNo-->
    <add key="CurTaskNo" value="0700"/>
    <!-- 版本号，发送文件时，为生成文件名使用-->
    <add key="Version" value="02"/>
    <!-- 对象标识，发送文件时，为生成文件名使用，以后可能会和任务相关-->
    <add key="ObjectCode" value="5700"/>
    <!-- 运行模式，OP实战，TS联试，DR日常运行-->
    <add key="RunningMode" value="TS"/>
    <!-- 中心编码-->
    <add key="ZXBM" value="YKZX"/>
    <!-- 中心编码-->
    <add key="ZXBMName" value="运控评估中心YKZX(11 65 02 00)"/>
    <!-- 生成外发文件路径-->
    <add key="outputpath" value="d:\files\output\"/>
    <!-- 试验数据处理最短持续时间，单位小时-->
    <add key="SYSJCLLastMinTime" value="2"/>
    <!-- 试验数据处理最长持续时间，单位小时-->
    <add key="SYSJCLLastMaxTime" value="6"/>
    <!-- TB_YCPG表中，TJGC数据类型，代表GCZT-->
    <add key="TJtypeInYCPG" value="'1'"/>
    <!-- TB_YCPG表中，JD数据类型，代表JDZT、JDCL-->
    <!-- TB_UserFrame表中，TJ数据类型，PGEO、PLEO、GLEO-->
    <add key="TJtypeInUserFrame" value="'user1','user2','user3'"/>
    <add key="JDtypeInYCPG" value="'2','0'"/>
    <!-- 试验计划的存放路径，将数据库中取出的路径替换成这个-->
    <add key="SYJHPath" value="D:\Files\PlanFiles\"/>
    <!-- 试验CX的存放路径，将数据库中取出的路径替换成这个-->
    <add key="SYCXPath" value="D:\Files\SYCXFiles\"/>
    <!-- TB_YCPG表数据存放路径-->
    <add key="YCPGFilePath" value="\\192.168.1.11\Files\YCPGFile\"/>
    <!-- TB_UserFrame表数据存放路径-->
    <add key="UFFilePath" value="\\192.168.1.11\files\Bak\GCJG\"/>
    <!-- 本地IP-->
    <add key="LocalIP" value="192.168.1.20"/>
    <!-- 轨道预报接收返回数据注册服务总线数据类型-->
    <add key="GDYBType" value="S_GDYB"/>
    <!-- 轨道预报发送命令注册服务总线数据类型-->
    <add key="GDYBSendType" value="S_GDYBSType"/>
    <!-- 轨道预报结果文件路径-->
    <add key="GDYBResultFilePath" value="GDYBSType"/>
    <!-- 资源调度接收返回数据注册服务总线数据类型-->
    <add key="ZYDDType" value="S_ZYDD"/>
    <!-- 资源调度发送命令注册服务总线数据类型-->
    <add key="ZYDDSendType" value="I_ZYDDSType"/>
    <!-- 资源调度结果文件路径-->
    <add key="ZYDDResultFilePath" value="GDYBSType"/>
 </appSettings>
	<cachingConfiguration defaultCacheManager="AspNetCache">
		<cacheManagers>
			<add name="AspNetCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="120" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"/>
		</cacheManagers>
		<backingStores>
			<add name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
		</backingStores>
	</cachingConfiguration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="Data Source=orcl;User Id=htcuser;Password=htcuser;"/>
	</connectionStrings>
	<system.web>
    <httpRuntime maxRequestLength="10240000" executionTimeout="1800"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<anonymousIdentification enabled="false"/>
		<profile defaultProvider="AspNetProfileProvider" automaticSaveEnabled="false" enabled="true">
			<providers>
				<clear/>
				<add name="AspNetProfileProvider" type="OperatingManagement.Security.AspNetProfileProvider,OM.Security"/>
			</providers>
			<properties>
				<add name="Account" type="OperatingManagement.DataAccessLayer.System.User,OM.DataAccessLayer" provider="AspNetProfileProvider" allowAnonymous="false" serializeAs="Binary"/>
			</properties>
		</profile>
		<customErrors mode="Off">
			<error statusCode="404" redirect="~/views/exp/pnf404.aspx"/>
		</customErrors>
		<authentication mode="Forms">
			<forms loginUrl="~/account/login.aspx" defaultUrl="~/index.aspx" protection="All" slidingExpiration="false" cookieless="UseCookies" timeout="2880"/>
		</authentication>
		<authorization>
			<!--<allow users="*"/>-->
			<deny users="?"/>
		</authorization>
		<pages theme="Default">
   <controls>
    <add tagPrefix="om" namespace="OperatingManagement.WebKernel.Controls"
     assembly="OM.WebKernel" />
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </controls>
  </pages>
		<httpHandlers>
			<add path="data.axd" verb="*" type="OperatingManagement.WebKernel.HttpHandlers.DataHandler, OM.WebKernel" validate="false"/>
      <add path="ChartImg.axd" verb="GET,POST,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
	</system.web>
	<system.webServer>
  <modules runAllManagedModulesForAllRequests="true" />
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>
 </system.webServer>
	<location path="app_themes">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="styles">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="scripts">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="views/exp">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="account">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
