<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="remotingObjects" type="OperatingManagement.RemotingClient.Configuration.RemotingClientSection, OM.RemotingClient"/>
  </configSections>
  <remotingObjects>
    <objects>
      <add type="OperatingManagement.RemotingObjectInterface.IAccount" url="tcp://localhost:2005/account"/>
    </objects>
  </remotingObjects>
  <appSettings>
    <add key="encryptSalt" value="MSFTJOM@web#"/>
  </appSettings>
</configuration>
