<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="remotingObjects" type="OperatingManagement.RemotingClient.Configuration.RemotingClientSection, OperatingManagement.RemotingClient"/>
  </configSections>
  <remotingObjects>
    <objects>
      <add type="RS.RemoteInterface.IAccount" url="tcp://localhost:8085/account"/>
    </objects>
  </remotingObjects>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
